/* layout codes */
.container {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.justify-align-gap {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.padding-bottom {
  padding-bottom: 0.5rem;
}

form,
input {
  width: 100%;
}

.margin-top {
  margin-top: 5rem;
}

/* style codes */

h3 {
  font-family: Nunito, sans-serif, serif;
}

body {
  background-image: url("../Samples/images/BG-Teddy.png");
  background-size: cover;
  background-attachment: fixed;
}

.header-styles {
  background-color: #7c9473;
  color: white;
  height: 8%;
}

.fa-paw {
  font-size: 1.5rem;
}
