body {
  background-image: url("../images/Teddy-BG.png");
  background-size: cover;
  background-attachment: fixed;
}

.search-height {
  height: 2.2rem;
}

.button-width {
  width: 5rem;
}

.justify-content-right {
  justify-content: right;
}

.home-button {
  height: 2.5rem;
}

.card-margin {
  margin: 3rem;
}

.card-body {
  line-height: 1rem;
}

.fa-heart {
  font-size: 4rem;
  color: #ee8a8a;
}

@media (min-width: 750px) {
  .media-font-size {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .card-margin {
    margin: 4rem;
  }

  .card-body {
    line-height: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .media-font-size {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  .card-margin {
    margin: 4rem;
  }

  .card-body {
    line-height: 2rem;
  }
}
