body {
  background-image: url("../images/Teddy-BG.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.search-height {
  height: 2.2rem;
}

.button-width {
  width: 5rem;
}

.justify-content-right {
  justify-content: right;
}

.home-button {
  height: 2.5rem;
}

.card-margin {
  margin: 3rem;
}

.card-body {
  line-height: 1rem;
}

.button-gap {
  gap: 3rem;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

.card-width {
  width: 500px;
}

.vh-55 {
  margin-top: 55vh;
}

@media (min-width: 768px) {
  .media-font-size {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .card-margin {
    margin: 6rem;
  }

  .card-body {
    line-height: 1.5rem;
  }

  .button-gap {
    gap: 6.5rem;
  }
}

@media (min-width: 1280px) {
  .media-font-size {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  .card-margin {
    margin: 4rem;
  }

  .card-body {
    line-height: 2.5rem;
  }

  .button-gap {
    gap: 8rem;
  }

  .fa-solid.fa-heart,
  .fa-solid.fa-circle-xmark {
    font-size: 4.5rem !important;
  }
}
