.navbar.navbar-light.bg-light {
  background-color: ???;
}

.container-fluid {
  background-color: ???;
}

.btn-primary {
  background-color: ???;
}

.green-bg {
  background-color: #7c9473 !important;
}

.img-fluid {
  height: 100% !important;
}
