* {
  font-family: Nunito, sans-serif, serif;
}

.open-sans-text {
  font-family: "Open Sans", sans-serif, serif;
}

.green-text {
  color: #6f8b65;
}

.outline-none {
  outline: none;
}

.form-styles {
  border: 2px solid grey;
}

::placeholder {
  color: black;
}
